:root {
	--image-width  : 450px;
	--image-height : 450px;
}

.IFH_WrapperClass {
	background: #fff;
	border-radius: 4px;
	position:relative;
	width : var(--image-width);
	height: var(--image-height);
	display: grid;
}

.IFH_ImageGroupClass {
	margin-top: 20px;
	position: absolute;
}
.IFH_ImageTagClass {
	width : var(--image-width);
	height: var(--image-height);
	position: absolute;
	/*border: 4px solid red;*/
	z-index: 1;
}
.IFH_CoveringCanvas {
	width : var(--image-width);
	height: var(--image-height);
	position: absolute;
	z-index: 10;
	/*
	opacity: 0.33;
   background-color: coral;
	border: 3px solid coral;
	*/
}

.IHF_Buttons_Block {
	margin-left:auto;
	margin-right: auto;
	grid-template-columns : 40px 40px 40px 40px;
	border-bottom:1px solid black;
}
.IFH_ButtonBaseClass {
	background: #0084ff;
	border: none;
	border-radius: 5px;
	margin-left: 5px; 
}

.IFH_UndoButtonClass {
	font-size: smallx;
	color: #fff;
}
  
.IFH_CreateButtonClass {
	font-size: 15px;
	color: #fff;
}
.IFH_CancelButtonClass {
	font-size: 15px;
	color: #fff;
   display:none;
}

.IFH_DeleteButtonClass {
	font-size: 15px;
	color: #fff;
}

.pictureBlock {
	display: flex;
	flex-direction: row;
}

.pictureView {
	float:left;
	width:50%;
	border:1px solid black;
}

.pictureButtons {
	border-bottom:1px solid black;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.pictureButton {
	background-color:blue;
	color:white;
	font-weight:bold;
	font-variant: small-caps;
	flex:0 0 auto; /* Forces side columns to stay same width */
    width:100px; /* Sets the width of side columns */
}

#pictureFileName  {
		height: 1em;
		text-align:center;
		background-color:yellow;
		border:1px solid green;
		flex:1 1 auto; /* Lets middle column shrink/grow to available width */
}

.pictureData {
	clear:right;
	width:20%;
	border:1px solid red;
	display: flex;
	flex-direction: column;
}
