:root {
	--image-width  : 450px;
	--image-height : 450px;
}

.IFH_WrapperClass {
	background: #fff;
	border-radius: 4px;
	position:relative;
	width : var(--image-width);
	height: var(--image-height);
	display: grid;
}

.IFH_ImageGroupClass {
	position:absolute;
}
.IFH_ImageTagClass {
	width : var(--image-width);
	height: var(--image-height);
	position: relative;
	border: 4px solid red;
	z-index: 1;
}
.IFH_CoveringCanvas {
	width : var(--image-width);
	height: var(--image-height);
	position: absolute;
	z-index: 10;
	opacity: 0.33;
   background-color: coral;
	border: 3px solid coral;
}

.IHF_Buttons_Block {
	margin-left:auto;
	margin-right: auto;
	grid-template-columns : 40px 40px 40px 40px;
}
.IFH_ButtonBaseClass {
	background: #0084ff;
	border: none;
	border-radius: 5px;
	margin-left: 5px; 
}

.IFH_UndoButtonClass {
	font-size: smallx;
	color: #fff;
}
  
.IFH_CreateButtonClass {
	font-size: 15px;
	color: #fff;
}

.IFH_DeleteButtonClass {
	font-size: 15px;
	color: #fff;
}

.faceDraw {
	cursor: crosshair;
	border: 1px solid #000000;
}