<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoPageProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PhotoPageProcessor.Properties.Settings>
            <setting name="PicturePrefix" serializeAs="String">
                <value>pict</value>
            </setting>
            <setting name="PagePrefix" serializeAs="String">
                <value>page</value>
            </setting>
            <setting name="BackPrefix" serializeAs="String">
                <value>backOf</value>
            </setting>
            <setting name="F1State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="F1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F1Size" serializeAs="String">
                <value>900, 606</value>
            </setting>
            <setting name="OrigFolder" serializeAs="String">
                <value>orig</value>
            </setting>
            <setting name="DefaultPictures" serializeAs="String">
                <value>c:\pictures</value>
            </setting>
        </PhotoPageProcessor.Properties.Settings>
    </userSettings>
</configuration>